body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(110.2deg, rgb(54, 197, 240) 8.2%, rgb(74, 21, 75) 92.4%);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

.weather-app-wrraper {
  max-width: 600px;
  margin: 30px auto;
}

.WeatherInfo {
  margin-top: 20px;
}

.card {
  background: #f0f4f5d0;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px;
  color: #878787;
}

.search-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  height: 50px;
  padding: 15px 20px;
}

.btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #6e49c9;
  color: #fff;
}

h1 {
  color: #272142;
  font-size: 34px;
  font-weight: 600;
  margin: 20px 0 10px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #1e1c29;
  font-size: 16px;
  text-transform: capitalize;
  list-style: none;
}

.weather-icon {
  margin: 10px 0;
  height: 80px;
  width: 80px;
}

.temperature-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.unit {
  font-size: 28px;
  font-weight: 400;
}

.WeatherForecast {
  margin-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  color: #482759;
}

.WeatherForecast .col-2 {
  padding: 10px;
}

.weather-forecast-date {
  font-size: 14px;
  font-weight: 600;
  color: #272142;
  margin-bottom: 5px;
}

.WeatherForecast img {
  height: 50px;
  width: 50px;
  margin: 5px auto;
}

.forecast-temperature {
  color: #482759;
  font-size: 18px;
  font-weight: 700;
}

.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.5;
}

.small {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}